@import url(http://awebfont.ir/css?id=1069|1047|1106&mode=wl);
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    direction: rtl;
    text-align: right;
    font-family: 'B NAZANIN', Arial, Verdana;
    font-size: 15px;
    background-image: url(../images/bg.jpg);
}

#wrapper {
    margin: 1.6% 2.65%;
}

#header {
}

#content {
    margin-top: 15px;
    background-color: rgb(38, 107, 134);
    border-radius: 5px;
}

#content .spacer {
    height: 15px;
}

#content .content-body {
    margin: 0 2.55%;
    min-height: 400px;
    border-radius: 2px;
    background-color: rgb(230, 230, 230);
}

#content .big-content-body {
    display: block;
}

h2 {
    line-height: 24px;
    margin: 0 0 0.5em;
}

div, span, a {
    margin: 0;
    padding: 0;
    border: none;
    display: block;
    font-size: 1em;
    line-height: 1.25em;
    outline: none;
}

#footer {
    margin-top: 15px;
    height: 20px;
    background-color: #d1d1d1;
    direction: ltr;
    text-align: left;
}