#content #main-content {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 20px;
    width: auto;
    z-index: 0;
}

#content #sidebar {
    background: rgba(247, 247, 247, 0.59);
    width: 24.1%;
    float: left;
    margin-left: 17px;
    border-radius: 3px;
    text-align: justify;
    margin-right: 0;
    margin-top: 4px;
    position: relative;
    z-index: 1;
}

#content #sidebar #sidebar-header {
    margin-top: 15px;
    font-family: 'B Titr';
    font-size: 20px;
    margin-right: 4px;
    margin-bottom: 15px;
}

#content #sidebar #search-pain {
    width: 100%;
}

#content #sidebar td, th {
    text-align: right;
}

#content #sidebar #search-pain label {
    padding: 0;
    height: 30px;
    width: 80px;
    line-height: 20px;
    font-size: 18px;
    text-align: right;
}

#content #sidebar #search-pain input {
    height: 30px;
    width: 140px;
    margin: 0;
    text-align: right;
}

#content #sidebar #search-pain .search-button {
    width: 150px;
    margin: auto;
    display: block;
    font-size: 16px;
}

#content #sidebar #result-pain .search-again {
    width: 150px;
    margin: auto;
    display: block;
    font-size: 16px;
}

#content #sidebar #result-pain {
    width: 100%;
}

#content #sidebar #result-pain #result-list {
    min-height: 300px;
    max-height: 400px;
    width: auto;
    list-style: none;
    padding: 5px 0 1px 0;
    margin: 0 0 0 2px;
    overflow: auto;
    display: block;
}

#content #sidebar #result-pain #result-list {
    list-style: none;
    padding: 5px 0 1px 2px;
    margin: 0;
    overflow: auto;
    display: block;
}

#content #sidebar #result-pain #result-list li {
    margin-bottom: 3px;
    text-align: right;
    cursor: pointer;
}

#content #sidebar #result-pain #result-list li a {
    text-decoration: none;
    color: #333;
    display: block;
    margin-right: 4px;
    margin-left: 4px;
    padding: 6px 12px;
    background-color: rgb(232, 232, 232);
    border-radius: 5px;
}

#content #sidebar #result-pain #result-list li a span {
    width: 35px;
    text-align: center;
    background-color: rgb(244, 244, 244);
    display: inline-block;
    border-radius: 3px;
    padding: 2px 1px;
}

.tooltip {
    position: absolute;
    padding: 10px 13px;
    left: 102.9%;
    z-index: 20;
    color: rgb(48, 48, 48);
    background-color: rgb(240, 219, 164);
    border: 1px solid rgb(222, 202, 126);
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    border-radius: 4px;
    width: 200px;
    margin-left: 3px;
    opacity: 0.8;
    display: none;
}

.tooltip h4{
    line-height: 20px;
}

.tooltip label{
    display: inline-block;
    line-height: 10px;
}

#content #content-body {
    float: right;
    width: 74%;
    border-radius: 5px;
}

#content #content-body #grid {
    width: 100%;
}

#grid #hour-column {
    line-height: 62px;
    float: right;
    margin-top: 5px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin-left: 2px;
    color: #d9d9d9;
    width: 5%;
}

#grid #week-columns {
    margin-right: 0;
    z-index: 1;
}

#grid #week-columns .column {
    width: 13.2%;
    float: right;
    margin-top: 4px;
    margin-right: 2px;
    border-radius: 5px;
    direction: ltr;
}

#grid #week-columns .column .header {
    background: #EACF8A;
    text-align: center;
    height: 35px;
    font-size: 20px;
    font-family: 'B Titr';
    margin-bottom: 2px;
    line-height: 35px;
}

#grid #week-columns .column .events {
    background: url("../images/calender-bg.fw.png");
    height: 1106px;
    position: relative;
}

#grid .event {
    color: rgb(0, 0, 0);
    border: 1px solid #D68A36;
    background: -webkit-linear-gradient(top, #EAC467 0%, #f0dba4 100%);
    background: -moz-linear-gradient(center top, #EAC467 0%, #f0dba4 100%) repeat scroll 0% 0% transparent;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    vertical-align: middle;
    width: 95%;
    margin: 0 2.5%;
    position: absolute;
    overflow: hidden;
    width: 95%;
}

div.event:hover {
    z-index: 10;
}

#grid a.del-button {
    cursor: pointer;
    position: absolute;
    float: left;
    left: 3px;
    top: 3px;
    width: 16px;
    height: 16px;
    background: url("../images/delete.png") no-repeat scroll 0 0 transparent;
}

#grid .event .film-name {
    margin-top: 5px;
    font-size: 18px;
    font-family: 'B Koodak';
    font-weight: bold;
    margin-bottom: 5px;
}

#grid .event .cinema-name {
    font-size: 14px;
    margin-top: 18px;
    padding-left: 5px;
    padding-right: 5px;
}

#grid .event .film-director {
    padding-top: 3px;
    font-size: 11px;
}

#grid .event p {
    margin: 2px 0 2px 0;
}

